<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649734839149-k629bdlgkfsmlehhthh47fvcss8roocc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649734839149-k629bdlgkfsmlehhthh47fvcss8roocc</string>
	<key>API_KEY</key>
	<string>AIzaSyCvgYlaRRAJECKIJ1XmuYTyfrkLssoZcSU</string>
	<key>GCM_SENDER_ID</key>
	<string>649734839149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatapp-backend-1c698</string>
	<key>STORAGE_BUCKET</key>
	<string>whatapp-backend-1c698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649734839149:ios:04d791afecd242ccbc9864</string>
</dict>
</plist>